@charset "utf-8";
/* 给大部分字体设置颜色和大小 */
html,body{
    color: #666;
    font-size: 12px;
}
a{
    color: #666;
    text-decoration: none;
}
$bg_url:url(../img/de.png);
/* 上方标题 */
.detials{
    width: 100%;
    background: #eee;
    .detials-main{
        /* 外部盒子 */
        width: 1002px;
        margin: 0 auto 20px;
        overflow: hidden;
        
        /* 内部标题 */
        .detials-main-title{
            line-height: 60px;
            color: red;
            text-indent: 0;
            font-size: 13px;
            height: 60px;
            b{
                font-weight: normal;
            }
        
        }
    }
}

/* 主要内容区域 */
.detials-main-content{
    width: 1000px;
    height: 516px;
    margin-bottom: 15px;
    position: relative;
    z-index: 20;
    background: #fff;
    /* 商品名字及功能介绍 */
    dd{
        /* 加粗文字 */
        h1{
            width: 600px;
            padding: 20px 0 0 29px;
            color: #333;
            overflow: hidden;
            height: 22px;
            font-size: 20px;
        }
        /* 普通文字 */
        p{
            width: 600px;
            height: 54px;
            line-height: 25px;
            font-size: 16px;
            padding: 0 0 0 29px;
            color: #999;
            overflow: hidden;
        }
    }
    /* 下面商品主要部分 */
    dt{
        position: relative;
        width: 1000px;
        clear: both;
    }
}
/* 商品图片 */
.detials-main-content-left{
    position: relative;
    height: 347px;
    width: 600px;
    border: 1px solid #eee;
    margin-left: 29px;
    img{
        display: block;
        max-width: 600px;
        max-height: 347px;
        margin: 0 auto;
    }
    /* 图片下方描述 */
    .tag{
        position: relative;
        left: 0;
        top: 20px;
        padding-left: 29px;
        display: inline-block;
        width: 500px;
        span{
            height: 22px;
            padding: 0 10px;
            line-height: 22px;
            text-align: center;
            margin-right: 10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 12px;
        }
    }
    /* 分享文字及图表 */
    .share{
        position: absolute;
        right: 10px;
        bottom: -40px;
        line-height: 27px;
        overflow: visible;
        .share-content{
            float:right;
            /* 分享图表 */
            b{
                display: inline-block;
                width: 14px;
                height: 16px;
                background:$bg_url -179px -382px;
                vertical-align: -2px;
            }
        }
    }
}
/* 右边价格区域 */
.detials-main-content-right{
    position: absolute;
    top: 0;
    left: 660px;
    width: 310px;
    height: 380px;
    border-top: 1px dotted #ccc;
    padding-top: 5px;
}
/* 价格区域 */
.price{
    position: relative;
    height: 55px;
    margin-top: 20px;
    /* 价格文字 */
    .price-title{
        display: inline-block;
        width: 70px;
        font-size: 13px;
        line-height: 25px;
    }
    /* 钱的符号 */
    .fuhao{
        color: red;
    }
    /* 具体价钱 */
    .money{
        font-size: 32px;
        padding-left: 5px;
        color: red;
    }
    /* 打折 */
    .count{
        display: inline-block;
        background-color: red;
        color: #fff;
        font-size: 12px;
        padding: 1px 3px;
        margin-left: 10px;
        vertical-align: super;
    }
    /* 原价 */
    .under{
        color: #999;
        font-size: 13px;
        text-decoration: line-through;
        margin-left: 20px;

    }
}
/* 优惠 */
.youhui{
    overflow: hidden;
    padding-bottom: 20px;
    /* 包邮 */
    .baoyou{
        float: right;
        width: 240px;
        .baoyou-content{
            height: 27px;
            line-height: 27px;
            color: #666;
            float: left;
            width: 100%;
            font-size: 12px;
            overflow: hidden;
            margin-bottom: 3px;
            /* 包邮图片 */
            b{
                display: inline-block;
                width: 39px;
                margin: 0 10px 0 5px;
                vertical-align: middle;
                font-style: normal;
                color: #fff;
                height: 23px;
                background: url(../img/dazhe.png) -117px 0 no-repeat;
            }
        }
        
    }
}
/* 购买数量 */
.sum{
    width: 310px;
    padding: 25px 0 10px;
    border-top: 1px dotted #ccc;
    /* 购买文字 */
    .sum-buy{
        float: left;
        width: 60px;
        line-height: 25px;
        font-size: 13px;
    }
    /* 加减号 */
    .sum-num{
        float: left;
        width: 103px;
        height: 25px;
        margin-left: 15px;
        background: url(../img/c5725c705040cb114adade487b33a3cf.png) no-repeat -204px -181px;
        .sum-num-down{
            display: inline-block;
            height: 25px;
            width: 25px;
            border: 0 none;
            cursor: pointer;
            vertical-align: middle;
        }
        input{
            width: 34px;
            height: 20px;
            border: 0 none;
            padding: 0 5px;
            text-align: center;
            vertical-align: middle;
        }
        .sum-num-up{
            display: inline-block;
            border: 0 none;
            height: 25px;
            width: 25px;
            cursor: pointer;
            vertical-align: middle;
        }
    }
}
/* 加入购物车 */
.car {
    display: inline-block;
    margin-top: 20px;
    b{
        width: 176px;
        height: 45px;
        display: block;
        background: url(../img/c5725c705040cb114adade487b33a3cf.png) no-repeat -145px 0;
        overflow: hidden;
        margin-top: 10px;
        color: #fff;
        line-height: 45px;
        text-align: center;
        font-size: 16px;
        margin-top: 20px;

    }
}